.order-summary-container {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 0.4rem 1rem;
    width: 80%;
    margin: 2rem auto;
    border: 1px solid gray;
    border-radius: 7px;
}
.confirm-title{
    color: green;
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
}
.order-summary-detail{
 width: 50%;
}
.order-summary_header{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: green;
}
.order-summary-detail p{
    margin-bottom: 0.5rem;
}
.order-summary-product{
    padding: 3rem 1rem 1rem 1rem;
    width: 50%;
}
.order-product{
    border: 1px solid rgb(181, 178, 178);
    padding: 0.5rem;
    border-radius: 8px;
    display: flex;
    margin-bottom: 0.5rem;
}
.order-product_img {
    width: 7rem;
    height: auto;
}
.order-product_info{
 display: flex;
 flex-direction: column;
 margin-left: 1rem;
 gap: 0.5rem;
}
.order-product_info h5{
    font-size: 1.1rem;
}