.container {
    padding: 2rem 2rem;
}

.cart-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
}

.product-list {
    width: 60%;
}

.cart-total {
    width: 20%;
    justify-content: center;
    align-items: center;
}

.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.product {
    display: flex;
    overflow: hidden;
    background-color: #F9FCFB;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.product img {
    padding: 0.5rem;
    height: 250px;
    width: 250px;
    object-fit: contain;
}

.product-info {
    padding: 1rem;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-info-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-name,
.product-price {
    margin-bottom: 2rem;
}

.card {
    padding: 0.8rem 0.5rem;
}

.card-btn {
    width: 100%;
    padding: 0.7rem;
    background-color: var(--lightblue);
    color: var(--white);
    border: none;
    margin-top: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 5px;
}
.card-btn a {
    text-decoration: none;
    color: var(--white);
}

.text-xl {
    font-size: 1.5rem;
}

.price-detail {
    padding: 0.5rem;
    border-top: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
    margin: 0.5rem 0;
}

.price-detail-list {
    margin: 0.5rem 0;
}

.price-detail-list p {
    font-size: 1.3rem;
}

.total-amount {
    padding: 0.5rem;
    font-size: 2rem;
}

.total-amount p {
    font-size: 1.3rem;
}

.horizontal-card .card-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title{
    text-align: center;
    margin: 1.5rem;
}
.quantity-update {
    display: flex;
    justify-content: center;
    gap: 0.5rem
}
.quantity-update button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0.2rem;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: var(--lightblue);
    color: var(--white);
    border: none;
}
.product-qty{
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.1rem 1rem;
}
.cart-footer{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: flex-start;
}
.cart-footer .footer-btn {
    display: flex;
    gap: 0.6rem;
}

.footer-btn button{
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: -0.3rem;
    border-radius: 5px;
    cursor: pointer;
}
.footer-btn button:hover{
    transform: scale(1.01);
}

.wishlist-btn {
    background-color: var(--lightblue);
    color: var(--white);
    border: none;
}
.remove-btn {
    background-color: var(--white);
    color: var(--lightblue) ;
    border: 1.5px solid var(--lightblue);
}