main{
    margin: 2rem 0;
}
.homepage-category {
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}
.homepage-category a {
    text-decoration: none;
}

.category-item {
    width: 15rem;
    height: 19rem;
    margin: 0 auto;
    border-radius: 0.8rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.category-item image {
    width: 100%;
    height: auto;
    position: relative;
}
.category-item:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.overlay-text {
    font-size: 1.5rem;
    width: 100%;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.textoverlay-container {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}