:root {
    --white: #ffffff;
}
main{
    margin: 2rem 0;
}
.homepage-category {
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}
.homepage-category a {
    text-decoration: none;
}

.category-item {
    padding-bottom: 1rem;
    width: 17rem;
    height: 21rem;
    margin: 0 auto;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.category-item image {
    width: 100%;
    height: auto;
    position: relative;
}
.category-item:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.overlay-text {
    font-size: 1.5rem;
    width: 100%;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.textoverlay-container {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}