.product-listing-container {
    display: grid;
    grid-template-columns: 18rem 1fr;
}

.product-listing-sidebar .sidebar {
    position: fixed;
    width: 18rem;
    background-color: var(--white);
    padding: 1rem;
    top: 4rem;
    bottom: 0;
    display: flex;
    flex-direction: column;
    font-size: large;
    overflow-y: auto;
}

.product-listing-main {
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.space-between{
    display: flex;
    justify-content: space-between;
}
.go-cart-btn{
    text-align: center;
    background-color: var(--blue);
    padding: 0.8rem;
    margin: 0.5rem;
    border-radius: 7px;
    width: 100%;
    border: none;
    text-decoration: none;
    font-size: medium;
    color: var(--white);;
}
