.search-bar input {
    width: 25rem;
    padding: 0.5rem 0.5rem;
}
#header {
    background-color: #ffffff;
    color: black;
}
.navbar img{
    width: 10rem;
    height: 2rem;
}
.navbar-menu a{
    margin: 0 10px;
}
.gold{
    color: goldenrod;
}
.navbar-header{
    margin-left:2rem ;
    font-size: 1.2rem;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.navbar-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-name{
    display: flex;
    align-items: center;
    justify-content: center;
}
