.footer{
    background-color: var(--gray);
    padding: 2rem;
    margin-top: 4rem;
    text-align: center;
}

.footer a{
    text-decoration: none;
    color: var(--black);
}
.red{
    color:var(--red)
}
